.Rating {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    height: 78px; 
    margin-bottom: 16px; 
    background-color: #F7F2F7; 
    border-radius: 8px; 
}
.starsContainer {
    margin-bottom: 10px; 
    margin-top: 10px; 
}
.Rating:last-of-type{
    margin-bottom: 0;
}

.star:not(last-of-type){
    margin-right: 8px; 
}
.ratingText {
    font-size: 13px; 
    font-weight: 800; 
    color: #512051; 
    padding-bottom: 15px; 
}


@media screen and (min-width: 1440px){
    .Rating {
        width: 445px; 
        height: 56px; 
        flex-direction: row; 
        justify-content: flex-start; 
        padding-left: 40px; 
    }
    .starsContainer {
        margin-right: 30px; 
    }
    .Rating:first-of-type{
        align-self: flex-start; 
    }
    .Rating:first-of-type{
        align-self: flex-start; 
    }
    .Rating:nth-of-type(2){
        align-self: center; 
    }
    .Rating:last-of-type{
        align-self: flex-end; 
    }
    .ratingText{
        padding: 0; 
    }
}