.Review{
    display: flex;
    flex-direction: column; 
}
.Review:not(:first-of-type){
    margin-top: 16px; 
}

.pictureAndNameContainer {
    display: flex; 
    flex-direction: row; 
}
.nameAndStatusContainer {
    display: flex; 
    flex-direction: column; 
}