.Review{
    display: flex;
    flex-direction: column; 
}

.pictureAndNameContainer {
    display: flex; 
    flex-direction: row; 
}
.nameAndStatusContainer {
    display: flex; 
    flex-direction: column; 
}